@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');

* {
    box-sizing: border-box;
    font-family:"Ubuntu";
    color: rgba(119, 119, 119);

} 





html, body {
    margin: 0;
    padding: 0;
}
.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color:white;
    text-decoration: none;
    transition-duration: 0.4s;
}

.main-nav {
    text-align: center;
    font-size: 64px;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3 );
}

.main-nav li {
    padding: 0 3%;
}


.nav a:hover {
    background-color: rgba(255, 255 , 255, .3);
    border-radius: 15%;
}


.main-header{
    background-color: rgba(0,0,0,.6);
    background-image: url(Images/bmw.jpg);
    background-blend-mode:multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.gf-para {
padding:100px;
font-size: 40px;


}

.h5-idk {
    font-size: 74px;
}

.sources-link {
    text-align: center;
    
    
}

.sources-link a {
    color: rgba(255, 255 , 255, .3);
    font-weight: lighter;
    text-decoration: none;
    font-size: 1.5em;
}






.sources-link a:hover {
    background-color:white;
    color: black;

}


.main-heading {
    text-align: center;
    margin: 0;
    font-size:4em;
    font-family: Oswald;
    font-weight: normal;
    font-size: 64px;
    color: red
    
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family:"M PLUS 1 Code";
   font-weight: normal;
   color: #333;
   text-align: center;
   font-size: 2em;
}

.car-image {
    float: left;
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius:50% ;
}


.main-footer {
    background-color:rgba(41, 40, 40);
    color: white;
    padding: .25em 0;
    
}

.main-footer h4 {
    font-weight: normal;
    display: inline;
    font-size: 1.5em;
}

.main-footer-container {
   display: flex;    
   align-items: center;
   
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}



.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    height: 30px;
    width: 30px
}

.footer-header {
    font-family:"M PLUS 1 Code";
   font-weight: normal;
   color: #fff;
   text-align: end;
   font-size: 2em;

}

.home-container {
     margin: 3em;
     font-size: 2em;
}

.home-about {
    margin: 2em;
    text-align: center;
    
}




.home-section-nav li {
    display: inline;
    
}

.home-section-nav a {
    display: inline-block;
    padding: .5em;
    color:#fefefe;
    font-size: 2em;
    text-decoration: none;
    transition-duration: 0.4s;
}

.home-section-nav ul {
    margin: 0;
    padding: 0;
}


.home-section-nav {
    text-align: center;
}

.home-section-nav  a:hover {
    background-color: rgba(255, 255 , 255, .3);
}


.bg-breh-2 {
    background-color: rgba(0,0,0,.6);
    background-image: url(Images/race_kar.jpg);
    background-blend-mode:multiply;
    background-size: cover;
    padding-bottom: 30px;
}


.sources-list {
    list-style-type: none;
}

.sources-list a {
    display: inline-block;
    padding: .5em;
    color:333;
    font-size: 1.5em;
    text-decoration: none;

}

.home-bottom {
    margin: 2em;
    font-size: 2em;
}

.home-bottom button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    padding: 12px 28px;
    transition-duration: .4s;
}

.home-bottom button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.home-bottom input {
    width: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition-duration: .5s;
  transition: width 0.4s ease-in-out;
}

.home-bottom input {
   
  background-image: url("Images/dollar\ sign.png");
  background-size: 16px 16px;
 
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}
.home-bottom input[type=number]:hover {
    border: 3px solid #555;
    width: 50%;
  }

  .home-bottom input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .home-bottom input[type=number] {
    -moz-appearance: textfield;
  }
